.page {
	padding: 3em 6em;
  }
  
  .row {
	margin: 0px;
  }

.link, a {
  text-decoration: none;
  color: #34D1BF;
}

.full-page-loader {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255, .8);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-page {
  height: 100vh;
  width: 100vw;
}

.full-height {
  height: 100%;
}

.form-box {
  background: white;
  padding: 1.5em;
  border-radius: 3px;
}

.box {
  background: white;
  padding: 1.5em;
  border-radius: 4px;
  border: 1px solid lightgrey;
}

.input {
  padding: .5em;
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 3px;
  height: 1.6rem;
  font-size: 1rem;
  width: 100%;
  margin: 1em 0;
}

.input:focus {
  outline: none;
}

button,.button {
  outline: none;
  border: none;
  color: #fff;
  font-size: .8rem;
  text-transform: uppercase;
  padding: .5rem;
  background: #3454D1;
  border-radius: 3px;
  cursor: pointer;
}

button.error, .button.error {
  background: #D1345B;
}

.col {
  padding-top: .5rem;
  padding-bottom: .5rem
}

figure {
  width: 200px;
  height: 200px;
}

figure img {
  width: 100%;
}


.pets-list {
	display: grid;
  grid-template-columns: repeat(3, minmax(2rem, 1fr));
  gap: 2rem;
  list-style-type: none;
}

.pets-list .pet {
  background-color: #fff;
}