body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', 'Segoe UI', Roboto, -apple-system, system-ui, BlinkMacSystemFont, Arial, sans-serif;
  background: #EFEFEF;
}

body * {
  box-sizing: border-box;
}

html {
  font-size: calc(0.6em + 1vw);
  color: #070707;
}